img.topLogo{
    height:50px;
}
*{
    box-sizing: border-box;
}
header{
   background-color: aqua;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
    margin:0px;
   
}

.logo
{
    height:50px;
    width:50px;
}

